@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500&family=Jost:wght@700&family=Poppins:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500&family=Jost:wght@700&family=Poppins:wght@200;300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500&family=Jost:wght@700;900&family=Poppins:wght@200;300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500&family=Jost:wght@700;900&family=Poppins:wght@200;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500&family=Jost:wght@400;500;700;900&family=Poppins:wght@200;400&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;



body {

  font-family: 'Poppins', sans-serif;
}

span.jost {

  /* font-family: 'Jost', sans-serif; */
  font-family: 'Jost', sans-serif;
}

span.poppins {

  font-family: 'Poppins', sans-serif;
}

button.jost {

  font-family: 'Jost', sans-serif;
}

ul.poppins {

  font-family: 'Poppins', sans-serif;
}

h5 {
  font-family: 'Jost', sans-serif;
}

span.font-jost {
  font-family: 'Inter', sans-serif;
  font-family: 'Jost', sans-serif;
  font-family: 'Poppins', sans-serif;
}

a.font-jost {
  
  font-family: 'Jost', sans-serif;
  
}






.swiper-container {
  width: 480px;
}

@media screen and (min-width: 640px) {
  .swiper-container {
    width: 640px;
  }
}

@media screen and (min-width: 768px) {
  .swiper-container {
    width: 768px;
  }
}





